body{
    background-color: #3c8dbc;
}

.fonteForte{
  font-size: -24em;
  color: white;
}

.fonteFraca{
  font-size: -24em;
  color: white;
  margin-left: -8px;
}

.linhaSelecionada {
  background-color: #cde;
}
